APP_ENV=development
LOG_LEVEL=info

MASTER_ADDR=master-1:8080
MASTER_PORT=8080
MASTER_ID=master-1
MASTER_ADVERTISE_HTTP_ADDR=master-1:8080
MASTER_ADVERTISE_GRPC_ADDR=master-1:50052
MASTER_GRPC_ADDRS=master-1:50052,master-2:50052,master-3:50052

WORKER_ID=worker-1
WORKER_CONCURRENCY=4

ETCD_ENDPOINTS=http://etcd:2379
ETCD_DIAL_TIMEOUT=5s
LEADER_ELECTION_KEY=/masters/leader
MASTER_LEASE_TTL=5
WORKER_DISCOVERY_PREFIX=/workers/
WORKER_ADVERTISE_ADDR=worker:50051
WORKER_LEASE_TTL=10
MASTER_REPORT_TIMEOUT=12s
