x-go-service: &go-service
  image: golang:1.24
  working_dir: /app
  volumes:
    - ..:/app
    - go-mod-cache:/go/pkg/mod
    - go-build-cache:/root/.cache/go-build
  restart: unless-stopped

services:
  etcd:
    image: quay.io/coreos/etcd:v3.5.11
    container_name: etcd
    restart: unless-stopped

    environment:
      ETCD_NAME: etcd0
      ETCD_DATA_DIR: /etcd-data


      # client
      ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:2379
      ETCD_ADVERTISE_CLIENT_URLS: http://etcd:2379

            # peer（先留着，后续做多节点会用到）
      ETCD_LISTEN_PEER_URLS: http://0.0.0.0:2380
      ETCD_INITIAL_ADVERTISE_PEER_URLS: http://etcd:2380
      ETCD_INITIAL_CLUSTER: etcd0=http://etcd:2380
      ETCD_INITIAL_CLUSTER_STATE: new
      ETCD_INITIAL_CLUSTER_TOKEN: overmind-etcd

      ETCD_LOG_LEVEL: info
    volumes:
      - etcd_data:/etcd-data
  
    healthcheck:
      test: ["CMD", "etcdctl", "endpoint", "health"]
      interval: 5s
      timeout: 3s
      retries: 10

  master:
    <<: *go-service
    command: ["go", "run", "./cmd/master"]

  worker:
    <<: *go-service
    command: ["go", "run", "./cmd/worker"]
    depends_on:
      - master

volumes:
  etcd_data:
    name: DJS_etcd_data
  go-mod-cache:
  go-build-cache:
    
